<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Autoilumittari</title>
</head>
<body>

    <div class="wrap">

        <form
            id="form"
            @submit="checkForm"
            method="post"
        >
            
            <label>
                Valitse kulkuneuvo
                <select name="vehicle" required>
                    <option value="A">Auto A</option>
                    <option value="B">Auto B</option>
                    <option value="C">Auto C</option>
                </select>
            </label>
            <label>
                Matkustettava etäisyys
                <input type="number" 
                        name="distance" 
                        v-model="distance" 
                        min="0" 
                        required
                >
            </label>
            <div class="inputs-side-by-side">
                <label>
                    Nopeus 1
                    <input type="number" 
                            name="speed_1" 
                            v-model="speed_1"
                            min="0" 
                            required
                    >
                </label>
                <label>
                    Nopeus 2
                    <input type="number" 
                            name="speed_2" 
                            v-model="speed_2"
                            min="0" 
                            required>
                </label>
            </div>

            <button type="submit">Laske!</button>
    
        </form>

    </div>
    
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="index.js"></script>